<nav>
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLinkActive="/">Feature</a></li>
  </ol>
</nav>
<div class="alert alert-success" role="alert">
  <div class="row">
    <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-11 text-center-mx2 rounded-pt-2 pv-2 font-weight-bold">{{Desgination}}</div>
      <div class="col-lg-12 mb-3 font-weight-light">{{UserName}}</div>
    </div>
      <div class="col-12 mb-3">
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"> Member :
            <p class="badge badge-secondary badge-pill" style="font-size:13px">{{NoOfTeamNumber}} </p></li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"> Total Cost :
            <p class="badge badge-secondary badge-pill" style="font-size:13px">{{TotalCost}} $ </p></li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"> Pending Task :
            <p class="badge badge-secondary badge-pill" style="font-size:13px">{{PendingTask}} </p></li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"> Comming Project :
            <p class="badge badge-secondary badge-pill" style="font-size:13px">{{UpCommingProject}} </p></li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center"> Project Cost :
            <p class="badge badge-secondary badge-pill" style="font-size:13px">{{ProjectCost}} </p></li>
        </ul>
      </div>
    </div>
<!---->
    <div class="col-lg-6">
      <div class="row">
        <div class="col-12 pt-0 pb-2" >
          <div class="card text-center">
            <div class="card-header">
              C sharp Language Programming
            </div>
            <div class="card-body">
              <h5 class="card-title"> C sharp</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="https://www.tutorialspoint.com/csharp/" class="btn btn-primary"> Tutorial</a>
            </div>
            <div class="card-footer text-muted">
             Active Now
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-0 pb-2" >
          <div class="card text-center">
            <div class="card-header">
              Angular
            </div>
            <div class="card-body">
              <h5 class="card-title">
                DEVELOP ACROSS ALL PLATFORMS </h5>
              <p class="card-text">Learn one way to build applications with Angular and reuse your code and abilities to build apps for any deployment target. For web, mobile web, native mobile and native desktop.</p>
              <a href="https://angular.io" class="btn btn-primary">Go WITH Angular</a>
            </div>
            <div class="card-footer text-muted">
            Active now
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-0 pb-2" >
          <div class="card text-center">
            <div class="card-header">
              Desgin
            </div>
            <div class="card-body">
              <h5 class="card-title">Bootstrap</h5>
              <p class="card-text">Build responsive, mobile-first projects on the web with the world’s most popular front-end component library</p>
              <a href="https://getbootstrap.com" class="btn btn-primary">BOOtStraP</a>
            </div>
            <div class="card-footer text-muted">
            v.3 , v.4 and 4.3
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-0 pb-2" >
          <div class="card text-center">
            <div class="card-header">
              Nodejs
            </div>
            <div class="card-body">
              <h5 class="card-title">Node.js® </h5>
              <p class="card-text">The API reference documentation provides detailed information about a function or object in Node.js.</p>
              <a href="https://nodejs.org/en/" class="btn btn-primary">Install Now</a>
            </div>
            <div class="card-footer text-muted">
             Read More
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="col-lg-3">
      <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">C Sharp</div>
        <div class="card-body">
          <h5 class="card-title">C Sharp Language Programming</h5>
          <p class="card-text">C# is a simple, modern, general-purpose, object-oriented programming language developed by Microsoft.</p>
        </div>
      </div>
      <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
        <div class="card-header">Language Programming</div>
        <div class="card-body">
          <h5 class="card-title">Python</h5>
          <p class="card-text">Python is an easy to learn, powerful programming language. It has efficient high-level data structures and a simple but effective approach to object-oriented programming.</p>
        </div>
      </div>
      <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Language Programming</div>
        <div class="card-body">
          <h5 class="card-title">Java</h5>
          <p class="card-text"> Discussion
            Java is a high-level programming language originally developed by Sun Microsystems and released in 1995.</p>
        </div>
      </div>
      <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
        <div class="card-header">Language Programming</div>
        <div class="card-body">
          <h5 class="card-title">C++</h5>
          <p class="card-text">C++ is a middle-level programming language developed by Bjarne Stroustrup starting in 1979 at Bell Labs.</p>
        </div>
      </div>
      <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
        <div class="card-header">Language Programming</div>
        <div class="card-body">
          <h5 class="card-title">JavaScript</h5>
          <p class="card-text">JavaScript is the programming language of HTML and the Web , JavaScript is easy to learn
            .</p>
        </div>
      </div>
    </div>
  </div>
</div>
 <div>
   <app-footer></app-footer>
 </div>
